@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@400;700 & display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --primeira-cor: #3f3d56;

  --fonte-primaria: ;
}

.container {
  display: flex;
  justify-content: center;
}

.form__Cadastro__titulo {
  color: var(--primeira-cor);
}
